.instruction-tag {
    color: #BB86FC;
    text-align: center;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    text-align: center;
}

img {
    height: 80%;
    width: 80%;
    max-height: 80vh;
    max-width: 80vh;
    object-fit: contain;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 10%;
    padding-right: 10%;
    transform: translate(-50%, -50%);
}

.displayLR {
    border: 5px solid #ea1239;
}

.displaySR {
    border: 5px solid #16af26;
}

.displayedImage {
    margin: 3% 2% 3% 2%;
}
