.displayLR{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: #f1e2e2;    
}

.displaySR{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: #d7f3d7;
}


.displayedImage{
    margin-top: 10%;
    margin-bottom: 10%;
}