{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}

{% block content %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Super Resolution</h1>
        <p class="lead font-weight-normal">Super Resolution is a technique that uses deep learning to increase
            the resolution of images. Employing this technique allows users to increase the quality of their images,
            allowing them to see more details in images and obtain better printed images.</p>
        <a class="btn purple-button" href="{{ url_for('upload_image') }}">Get Started</a>
        <br><br><br><br><br><br>
        <h2 style="color: red;">NOTE: Please contact <a class="website_link" href="http://www.shaynedlima.info" target="_blank"
            >Shayne</a
          > if you want to see a working demo of this site. Currently the website has been placed in a maintenance mode to keep running costs down, this will prevent users from uploading images and passing them through the network.</h2>
    </div>
</div>
{% endblock %}