{% extends "layout.html" %}
{% block title %}Upload Image{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>

<link rel="stylesheet" href="{{ url_for('static', filename='css/uploadImage.css') }}">
{% endblock %}

{% block content %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Upload Image</h1>
    <form action="/upload_image" method="POST" enctype="multipart/form-data">

      <div id="loading"></div>

      <div class="form-group" id="form">
        <label>Select image</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="image" id="image" oninput="filesize(this);">
          <label id="upload-label" class="custom-file-label" for="image">Select image...</label>
        </div>

        <button type="submit" class="btn btn-primary" onClick="loading();">Upload</button>
      </div>
      
    </form>
    
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<script>
  function loading(){
      $("#loading").show();
      $("#form").hide();       
      console.log("Show loading!")
  };

  function filesize(elem) {
    $("#upload-label").text(elem.value);
    document.cookie = `filesize=${elem.files[0].size}`
  }
</script>
{% endblock %}